@import "tailwindcss";

:root {
  font-family: "Geist", "IBM Plex Sans", "Segoe UI", system-ui, sans-serif;
  font-size: 13px;
}

code,
pre,
.font-code {
  font-family: "JetBrains Mono", "Fira Code", "SFMono-Regular", ui-monospace,
    monospace;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
